name = "__WORKER_NAME__"
main = "src/index.js"
compatibility_date = "2025-11-02"

workers_dev = true
# 关闭遥测
send_metrics = false

# KV 命名空间
[[kv_namespaces]]
binding = "KV"  # 不要修改此项
id = "__KV_NAMESPACE_ID__"

[observability]
enabled = true
head_sampling_rate = 1

[vars]
ADMIN_PASSWORD = "__ADMIN_PASSWORD__"
JWT_SECRET = "__JWT_SECRET__"